.App-header {
    background-color: #1d428a;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: left;
    color: white;
}

.App-logo {
    height: 35px;
    pointer-events: none;
    padding-left: 40px;
}